

<section class="timeline">
  <ul id='scrollDiv'>
    <li>
      <div>
        <time>1993</time> I was born in Hong Kong.
      </div>
    </li>
    <li>
      <div>
        <time>1999</time> Got into my first Primary School.
      </div>
    </li>
    <li>
      <div>
        <time>2000</time> Switched school because of giant spiders.
      </div>
    </li>
    <li>
      <div>
        <time>2005</time> Graduated from primary school. Got admitted by St. Mark's School, where I met my friends for life.
      </div>
    </li>
    <li>
      <div>
        <time>2008</time> Addicted to Counter Strike, results were bad and repeating Form 3. (This might be the game changer of my life, but this experience changed me.)
      </div>
    </li>
    <li>
      <div>
        <time>2010</time> Had to choose between Visual Arts and Information Technology, I chose the later one. In the same year, I got into the Business class.
      </div>
    </li>
    <li>
      <div>
        <time>2012</time> Got good results in public exam, got an offer from City University of Hong Kong, major in Business Economics. (Should have gone for Computer Science if I was given a second chance.)
      </div>
    </li>
    <li>
      <div>
        <time>Mid 2016</time> Graduated from City University. Got an offer from a local bank, as a Assistant Personal Banking Manager.
      </div>
    </li>
    <li>
      <div>
        <time>Later 2016</time> Quit my banking job due to my passion in coding and accepted by Accelerate HK as a Full-time Bootcamp student.
      </div>
    </li>
    <li>
      <div>
        <time>2017</time> To be Continued...
    </li>
  </ul>
</section>
