<section id='home-banner'>
  <div id='name'>
    <h1 id='circle'>
      <em>B</em>
      <em class="planet left">。</em>
      <em>L</em>
      <em>A</em>
      <em class="planet right">。</em>
      <em>W</em>
    </h1>
  </div>
</section>

<section id='second-banner' class='container-fluid text-center'>
  <div class="wrapper col-xs-5">
    <div class="hulk">
      <div class="head"><div class="mouth"></div></div>
      <div class="right-arm"></div>
      <div class="fist"></div>
      <div class="left-arm"></div>
      <div class="body"></div>
      <div class="right-leg"></div>
      <div class="left-leg"></div>
    </div>
  </div>
  <div class='container col-xs-7'>
    <h3>To be added</h3>
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    </p>
  </div>
</section>

<section class='container-fluid text-center' id='third-banner'>
  <h3>To be added</h3>
  <p>
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
  </p>
  <div class='embed-container'>
    <iframe src='https://www.youtube.com/embed/raN4rq-K1Xo' frameborder='0' allowfullscreen></iframe>
  </div>
</section>

<section class='container-fluid text-center col-sm-12' id='language-list'>
  <h2>Skills</h2>
  <table class="table table-striped table-hover ">
    <thead>
      <tr>
        <th class='text-center'>Front End</th>
        <th class='text-center'>Rating</th>
        <th class='text-center'>Back End</th>
        <th class='text-center'>Rating</th>
        <th class='text-center'>Frameworks / Plugins</th>
        <th class='text-center'>Rating</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>HTML5</td>
        <td><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i></td>
        <td>Ruby</td>
        <td><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i></td>
        <td>Rails</td>
        <td><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i></td>
      </tr>
      <tr>
        <td>CSS3</td>
        <td><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-half" aria-hidden="true"></i></td>
        <td>PostgreSQL</td>
        <td><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i></td>
        <td>Angular2</td>
        <td><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-half" aria-hidden="true"></i></td>
      </tr>
      <tr>
        <td>Javascript</td>
        <td><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-half" aria-hidden="true"></i></td>
        <td>Python</td>
        <td><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i></td>
        <td>Ember</td>
        <td><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i></td>
      </tr>
      <tr >
        <td>Typescript</td>
        <td><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-half" aria-hidden="true"></i></td>
        <td>Firebase</td>
        <td><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-half" aria-hidden="true"></i></td>
        <td>Ionic</td>
        <td><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i>
      </tr>
      <tr>
        <td>JQuery</td>
        <td><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i></td>
        <td></td>
        <td></td>
        <td>Bootstrap</td>
        <td><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i></td>
      </tr>
    </tbody>
  </table>
</section>

<section id='project-section' class='container-fluid text-center col-sm-12'>
    <h3>Projects</h3>
    <a href='/projects/neca'>
      <div class='col-sm-4 text-center center-block thumbnail pro-big-div'>
        <div class='project-div'>
          <%= image_tag "neca_brand.png" , class:'img-responsive project-icon pro-icon-fix'%><h4>Never Eat Chicken Alone</h4><br />
        </div>
      </div>
    </a>
    <a href='/projects/coolcool'>
      <div class='col-sm-4 text-center center-block thumbnail pro-big-div'>
        <div class='project-div'>
          <%= image_tag "coolcool_brand.png" , class:'img-responsive project-icon pro-icon-fix'%><h4>CoolCool - Self-Checkout App</h4><br />
        </div>

        </div>
      </div>
    </a>
    <a href='/projects/football'>
      <div class='col-sm-4 text-center center-block thumbnail pro-big-div'>
        <div class='project-div'>
          <%= image_tag "football-cover.png" , class:'img-responsive project-icon pro-icon-fix'%>
          <h4>Football Analysis</h4><br />
        </div>
      </div>
    </a>
</section>
