<div class='avoid-navbar container project-page'>
  <div class='col-sm-6'>
    <h1>Football Analysis</h1>
  </div>

  <div class='col-sm-6 col-xs-12'>
    <%= image_tag "python-logo.png", class:"col-xs-2 language-logo-mid img-responsive"%>
    <%= image_tag "sklearn-logo.png", class:"col-xs-2 language-logo-mid img-responsive"%>
  </div>
  <div class='col-xs-12'>
    <div>
      <a href="https://github.com/brianlaw033/football_analysis/"><i class="fa fa-github"></i> GitHub Link</a>
      <p>
        A data science project focused on football, mainly Premier League.
      </p>
    </div>
    <div class='col-sm-6 embed-container'>
      <iframe src="https://docs.google.com/presentation/d/16Ypq1_P0BZvwcU6PfGzKnD9llOXRssGlv_MscxkGCGM/embed?start=false&loop=false&delayms=3000" frameborder="0" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
    </div>
  </div>
</div>
